* {
  box-sizing: border-box;
  font-family: "Rubik Marker Hatch", cursive;
}
body {
  margin: 0;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
